<title>トップ - UGLY NOTE</title>
<h1>ようこそ</h1>
<p>トップページです。</p>
<%= link_to 'boards', '/boards/index' %>
<%= link_to 'gmaps', '/places' %>

<map style="width: 800px; height: 400px;" />

<script>
    handler = Gmaps.build('Google');
    handler.buildMap({ provider: {}, internal: {id: 'map'}}, function() {markers = handler.addMarkers(<%= raw @hash.to_json %>);
            handler.bounds.extendWith(markers);
            handler.fitMapToBounds();
        }
    );
</script>

<script type="text/javascript">
    handler = Gmaps.build('Google');
    handler.buildMap({ provider: {}, internal: {id: 'map'}}, function(){
        markers = handler.addMarkers(<%=raw @hash.to_json %>);
        handler.bounds.extendWith(markers);
        handler.fitMapToBounds();
    });
</script>