<!DOCTYPE html>
<html lang="en">
<head>
  <%= javascript_include_tag 'application' %>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="description" content="">
  <meta name="author" content="">
  <link rel="shortcut icon" href="/assets/spot/ico/favicon.png">

  <!-- Bootstrap core CSS -->
  <link href="/assets/spot/css/bootstrap.css" rel="stylesheet">
  <link href="/assets/spot/css/font-awesome.min.css" rel="stylesheet">

  <!-- Custom styles for this template -->
  <link href="/assets/spot/css/main.css" rel="stylesheet">


  <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
  <!--[if lt IE 9]>
  <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
  <script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>

  <![endif]-->
</head>

<% if notice != nil%>
<div class="containerflash">
  <div class="row2">

    <div class="col-md-12">
      <div class="alert alert-top alert-dismissable">
        <span class="glyphicon glyphicon-certificate"></span>
        <button type="button" class="close" data-dismiss="alert" aria-hidden="true">
          ×</button><%= notice %>
      </div>
    </div>
  </div>
</div>
  <% end %>
  <% if alert != nil%>
  <div class="containerflash">
    <div class="row2">
      <div class="col-md-12">

        <div class="alert alert-info-alt alert-dismissable">
          <span class="glyphicon glyphicon-certificate"></span>
          <button type="button" class="close" data-dismiss="alert" aria-hidden="true">
            ×</button><p class="alert"><%= alert %></p></div>

      </div>
    </div>
  </div>
<% end %>

<!-- Fixed navbar -->
<div class="navbar navbar-inverse navbar-fixed-top">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="/">UGLY N<i class="fa fa-circle"></i>TE</a>
    </div>
    <div class="navbar-collapse collapse">
      <ul class="nav navbar-nav navbar-right">
        <li class="active"><a href="/">ホーム</a></li>
        <% if user_signed_in? %><% else %>
        <li><a href="/users/sign_in">ログイン</a></li>
        <li><a href="/users/sign_up">新規登録</a></li>
        <% end %>
        <% if user_signed_in? %>
            <li><a href="/places">農地マップ</a></li>
        <li><a href="/users/edit">プロフィール編集</a></li>
        <li><a href="/users/sign_out">ログアウト</a></li>
        <% end %>
        <li><a data-toggle="modal" data-target="#myModal" href="#myModal"><i class="fa fa-envelope-o"></i></a></li>
      </ul>
    </div><!--/.nav-collapse -->
  </div>
</div>



<%= yield %>


<!-- FOOTER -->
<div id="f">
  <div class="container">
    <div class="row centered">


    </div><!-- row -->
  </div><!-- container -->
</div><!-- Footer -->


<!-- MODAL FOR CONTACT -->
<!-- Modal -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title" id="myModalLabel">contact us</h4>
      </div>
      <div class="modal-body">
        <div class="row centered">
          <p>We are available 24/7, so don't hesitate to contact us.</p>
          <p>
            Somestreet Ave, 987<br/>
            London, UK.<br/>
            +44 8948-4343<br/>
            hi@blacktie.co
          </p>
          <div id="mapwrap">
            <iframe height="300" width="100%" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="https://www.google.es/maps?t=m&amp;ie=UTF8&amp;ll=52.752693,22.791016&amp;spn=67.34552,156.972656&amp;z=2&amp;output=embed"></iframe>
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-danger" data-dismiss="modal">Save & Go</button>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->


<!-- Bootstrap core JavaScript
================================================== -->
<!-- Placed at the end of the document so the pages load faster -->
<script src="https://code.jquery.com/jquery-1.10.2.min.js"></script>
<script src="/assets/spot/js/bootstrap.min.js"></script>

</html>
